################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# ASP.NET Core secrets
secrets.json

# Blazor WebAssembly
wwwroot/dist/
wwwroot/node_modules/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/

# Others
node_modules/

